@charset "utf-8";
body {
	background-image: -webkit-linear-gradient(270deg,rgba(9,159,255,1.00) 0%,rgba(229,80,136,1.00) 99.48%);
	background-image: -moz-linear-gradient(270deg,rgba(9,159,255,1.00) 0%,rgba(229,80,136,1.00) 99.48%);
	background-image: -o-linear-gradient(270deg,rgba(9,159,255,1.00) 0%,rgba(229,80,136,1.00) 99.48%);
	background-image: linear-gradient(180deg,rgba(9,159,255,1.00) 0%,rgba(229,80,136,1.00) 99.48%);
}
#header {
	background-color: #000000;
	height: 110px;
}
#header #header2 {
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
}
#header #header2 #logo-header {
	float: left;
	margin-top: 8px;
}
#header #header2 #navigation {
	float: right;
}
#header2 #navigation li {
	float: left;
	color: #FCFCFC;
	list-style-type: none;
	margin-left: 35px;
	padding: 20px;
	margin-top: 10px;
}
#header2 #navigation li:hover{color: red;}
#navigation ul #red {
	background-color: #B30838;
}
#footer {
	background-color: #000000;
	height: 110px;
	margin-top: 10px;
}
#footer #footer2 {
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
}
#footer #footer2 #logo-footer {
	float: left;
	margin-top: 8px;
}
#footer #footer2 #contact {
	padding-top: 30px;
	color: #FFFFFF;
	float: left;
	margin-left: 10px;

}
#footer #footer2 ul {
	float: right;
	margin-top: 40px;
}
#footer2 ul li {
	float: left;
	margin-left: 30px;
}
@charset "utf-8";
#main {
	background-image: url(../imgs/banner3.jpg);
	height: 300px;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#main #sologan {
	float: right;
	background-image: -webkit-linear-gradient(0deg,rgba(152,152,152,0.60) 43.01%,rgba(74,74,74,0.51) 74.09%);
	background-image: -moz-linear-gradient(0deg,rgba(152,152,152,0.60) 43.01%,rgba(74,74,74,0.51) 74.09%);
	background-image: -o-linear-gradient(0deg,rgba(152,152,152,0.60) 43.01%,rgba(74,74,74,0.51) 74.09%);
	background-image: linear-gradient(90deg,rgba(152,152,152,0.60) 43.01%,rgba(74,74,74,0.51) 74.09%);
	padding: 15px;
	height: 270px;
	color: white;
}
#main #sologan #button2 {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
#button2 #click-button button {
	padding: 10px;
	color: #FFFFFF;
	border-radius: 5px;
	border-style: none;
	background-color: #1563AC;
	margin-top: 10px;
}
#button2 #click-button button:hover {
	background-color:aqua;
	color: #000000;
}
#quick-links .quick-link {
	background-color: #E1E1E1;
	padding: 5px;
	width: 300px;
	float: left;
	margin-left: 30px;
}
#quick-links {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#quick-links .quick-link .library {
	width: 245px;
	margin-left: auto;
	margin-right: auto;
}

#quick-links .quick-link .quick-link-title {
	padding: 5px;
	background-color: #3C8A4C;
}
#quick-links .quick-link .more {
	text-align: right;
}
a:link, a:visited{
	text-decoration: none;
	color: black;
}
.clear {
	clear: both;

}
